[Unit]
Description=Auditd Rules Loader
After=auditd.service containerd.service docker.service

[Service]
Type=oneshot
TimeoutStartSec=30
Restart=on-failure
ExecStart={{ auditd_augenrules_safe_path }} --load
[Install]
WantedBy=multi-user.target
