# UBTU-24-100820: FIPS-140-3 ciphers
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes128-ctr

# UBTU-24-200640: Display the Standard Mandatory DOD Notice and Consent Banner
Banner /etc/issue.net

# UBTU-24-300023: Prevent remote hosts from connecting to the proxy display
X11UseLocalhost yes

# UBTU-24-400030: Implement smart card logins for MFA
PubkeyAuthentication yes

# UBTU-24-600000: Terminate traffic after a period of inactivity
ClientAliveCountMax 1

# UBTU-24-600010: Terminate after 10 minutes (600 seconds) of inactivity
ClientAliveInterval 600
